<div class="row top-margin">
	<label class="col-md-3">Occupation:</label>
	<input type="text" name="user[occupation]" placeholder="Occupation" style="width:500px;" value="<%= current_user.occupation %>">
</div>
<div class="row top-margin">
	<label class="col-md-3">Interests:</label>
	<textarea type="text" name="user[interests]" placeholder="Travel interests and hobbies..." style="width:500px;min-height:100px;" rows="40"></textarea>
</div>
<div class="row top-margin">
	<label class="col-md-3">Nationality:</label>
	<select name="user[nationality]">
		<% User::NATIONALITIES.each do |nationality| %>
			<% current_user.nationality == nationality[1] ? selected = "selected" : selected = "" %>
			<option value="<%= nationality[1] %>" <%= selected %>><%= nationality[0] %></option>
		<% end %>
	</select>
</div>
