<div class="radio">
  <label>
    <input type="radio" name="trip[private]" id="tripPrivate1" value="0" checked>
		Seeking travel companions
  </label>

  <label style="padding-left:80px;">
    <input type="radio" name="trip[private]" id="tripPrivate1" value="1">
		Private trip (invite only)
  </label>
</div>