<div class="row top-margin">
	<label class="col-md-3">Departing From:</label>

	<div class="col-md-9">
		<div id="prefetch">
		  <input class="typeahead" type="text" name="trip[departs_from]" placeholder="Airport" style="width:500px;" value="<%= @trip.departs_from %>">
		</div>
	</div>
</div>
<div class="row top-margin">
	<label class="col-md-3">Landing In:</label>

	<div class="col-md-9">
		<div id="prefetch">
		  <input class="typeahead" type="text" name="trip[departs_to]" placeholder="Airport" style="width:500px;" value="<%= @trip.departs_to %>">
		</div>
	</div>
</div>



