<div class="row">
	<div class="col-md-12">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1"><i class='fa fa-map-marker' style="padding-left:4px;padding-right:3px;"></i></span>			
			<input class="form-control add-geocomplete"  aria-describedby="sizing-addon1" type="text" name="trip[stop_location]" placeholder="Location" style="width:100%;" value="<%= @trip.stop_location %>" autocomplete="off">
		</div>
	</div>
</div>
<!-- 
<div class="row">
	<div class="col-md-12">
		<div style="max-height:41px;">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-plane" style="padding-left:2px;padding-right:2px;"></i></span>
				<div class="prefetch">				
					<input aria-describedby="sizing-addon2" class="form-control typeahead" type="text" name="trip[departs_to]" placeholder="Airport" style="width:500px;" autocomplete="off">
				</div>
			</div>
		</div>
	</div>
</div>
 -->