<div class="row top-margin">
	<div class="col-md-3"><label>Departing From:</label></div>
	<div class="col-md-9">
		<div id="prefetch">
		  <input class="typeahead" type="text" name="trip[departs_from]" placeholder="Airport" style="width:500px;" value="<%= @trip.departs_from %>" autocomplete="off">
		</div>
	</div>
</div>
<div class="row top-margin">
	<div class="col-md-3"><label>Landing In:</label></div>
	<div class="col-md-9">
		<div id="prefetch">
		  <input class="typeahead" type="text" name="trip[departs_to]" placeholder="Airport" style="width:500px;" value="<%= @trip.departs_to %>" autocomplete="off">
		</div>
	</div>
</div>



