<div class="row top-margin">
	<div class="col-md-3"><label>Departure date:</label></div>
	<div class="col-md-9">
		<%= f.select :departing_category, Trip::DEPARTINGS_ARRAY, prompt: "-- select --" %>
		<span style="position:relative;top:-13px;">-- or --</span>
		<input class="datepicker" placeholder="mm/dd/yyyy" name="trip[departs_at]" required data-date-format="mm/dd/yyyy">
	</div>
</div>
<div class="row top-margin">
	<div class="col-md-3"><label>Flexible?:</label></div>
	<div class="col-md-9">
		<%= f.select :time_flexibility, Trip::FLEXIBILITY %>
	</div>
</div>
<div class="row top-margin">
	<div class="col-md-3"><label>Duration:</label></div>
	<div class="col-md-9">
		<%= f.select :duration, Trip::DURATIONS %>
	</div>
</div>

