<div class="row top-margin">
	<label class="col-md-3">Departure date:</label>
	<%= f.select :departing_category, Trip::DEPARTINGS, prompt: "-- select --" %>
	<span style="position:relative;top:-13px;">-- or --</span>
	<%= f.date_field :departs_at %>
</div>
<div class="row top-margin">
	<label class="col-md-3">Flexible?:</label>
	<%= f.select :time_flexibility, Trip::FLEXIBILITY %>
</div>
<div class="row top-margin">
	<label class="col-md-3">Duration:</label>
	<%= f.select :duration, Trip::DURATIONS %>
</div>

