<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "static_pages/sidebar" %>
		</div>

		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6" style="padding-right:0px;">
					<p>
						Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Nulla facilisi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam sagittis. Pellentesque commodo eros a enim.
					</p>
					<p>
						Proin faucibus arcu quis ante. Nam pretium turpis et arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum dapibus nibh. Donec sodales sagittis magna.
					</p>
					<p>
						Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Vivamus laoreet. Cras varius. Fusce egestas elit eget lorem. In ut quam vitae odio lacinia tincidunt.
					</p>
					<p>
						Fusce vel dui. Phasellus a est. Praesent turpis. Morbi nec metus. Fusce commodo aliquam arcu.
					</p>
					<p>
						Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Vivamus laoreet. Cras varius. Fusce egestas elit eget lorem. In ut quam vitae odio lacinia tincidunt.
					</p>
				</div>
				<div class="col-md-6" style="padding-left:0px;">
					<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
						<%= image_tag "group_pics/group_pic_beige.png", class: "img-responsive" %>
					<% end %>
				</div>
			</div>
			<div class="row small-top-margin">
				<div class="col-md-12">
					<p>
						Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Nulla facilisi. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam sagittis. Pellentesque commodo eros a enim.
					</p>
					<p>
						Proin faucibus arcu quis ante. Nam pretium turpis et arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum dapibus nibh. Donec sodales sagittis magna.
					</p>
					<p>
						Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Vivamus laoreet. Cras varius. Fusce egestas elit eget lorem. In ut quam vitae odio lacinia tincidunt.
					</p>
					<p>
						Fusce vel dui. Phasellus a est. Praesent turpis. Morbi nec metus. Fusce commodo aliquam arcu.
					</p>
				</div>
			</div>
			
		</div>

	</div>
</div>
