<div id="home">
	<div id="home-background">
		<div class="container">
			<div class="row">

			  <div class="col-md-10 col-md-offset-1">
			    <div class="signup-well" style="padding-top:30px;">
			      <div class="center" style="font-size: 200%;">
							<%= link_to image_tag("globe-icon-planes-100.png"), root_url, style: "margin-left:5px;", id: "globe" %>
	            <%= link_to "TripSharing<span class='blue tiny'>beta</span>".html_safe, root_url, id: "logo" %>
						</div>
						<h1 class="center black" style="font-size: 150%; margin-bottom:10px;">
							<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
								Match. Meet. Travel...
							<% end %>
						</h1>
			      <hr/>
						<%= render 'survey' %>
			      <hr/>
						
			    </div>
			  </div>
			</div>
		</div>
	</div>

</div>