<div id="home">
	<div id="home-background5" style="min-height:700px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="center">
						<h1 id="slogan"><%= t('application.root.slogan') %></h1>
						<a href="#" type="button" data-toggle="modal" data-target="#signinModal" class="btn btn-lg btn-primary">
							START
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>