<div style="padding:10px;">
	<div style="padding:10px;">
		<div id="trip-description-form" style="display:none;">
			<%= render "trips/description_form" %>
		</div>
		<% if @trip.description.present? %>
			<div class="description">
				<%= simple_format(@trip.description) %>
			</div>
			<a href="#" id="edit-description" class="grey-dark-link pull-right" style="position:relative; top:-5px;">
				edit
			</a>
		<% elsif current_user && current_user == @trip.user && @trip.active? %>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="center">
						<a href="#" id="add-description" class="grey-link">
						  <i class="fa fa-plus-circle" style="font-size:700%;"></i>
							<h3 style="padding:0px;margin:0px;margin-bottom:10px;">Description</h3>
						</a>
					</div>
				</div>
			</div>
		<% else %>
			<div class="center grey">
				<i class="fa fa-plane" style="font-size:1000%;"></i>
				<h3 style="padding:0px;margin:0px;margin-bottom:10px;">No Description Available</h3>
			</div>
		<% end %>
	</div>
</div>