<div class="row">
	<div class="trip-details-bar">
		<div class="row">
			<div class="col-md-3" style="padding-top:10px;">
				<%= render "trips/organizer" if @trip.user %>
			</div>
			<div class="col-md-6" style="border-left:1px solid rgb(213, 215, 214); border-right:1px solid rgb(213, 215, 214); min-height:80px;">
				<%= render "trips/seeking" %>
			</div>
			<div class="col-md-3" style="padding-top:16px;">
				<% if current_user && @trip.active? && !current_user?(@trip.user) %>
					<%= render "trips/modals/new_join_request_modal", trip: @trip %>
					<div class="center">
						<%= render "join_requests/join_btn", trip: @trip, btn_size: "btn-lg", join_text: "JOIN REQUEST" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>