<div class="row">
	<div class="col-md-12">
		<div class="center">
			<h3>Interested in this trip?</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div id="join-req-form" style="display:none;"><%= render "join_requests/form" %></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="center">
			<a href="#" type="button" class="btn btn-lg btn-default" style="font-family:inherit;" id="openJoinReq">
				JOIN!
			</a>
		</div>
	</div>
</div>
