<div class="col-md-12">
	<div class="well">
		<%= travel_text(trip.group_dynamics, trip.group_nationality, trip.group_count, trip.group_age_min, trip.group_age_max).html_safe %>
		<%= link_to "view", trip %>
	</div>
</div>