<div class="row">
	<div class="col-md-12">
		<div class="center">
			<h3>Organizer</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-centered">
		<div class="well" style="padding-top:20px;">
			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<p style="line-height:130%; margin-top:10px;">
							<%= render "users/list_item", user: @trip.user %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>