<div class="row bottom-margin">
	<div class="col-md-3 col-md-offset-3">
		<%= render "users/quick_details", user: @trip.user %>
	</div>
	<div class="col-md-6" style="padding-top:5px;">
		<div class="">
			<%= @trip.user.full_name %>
		</div>
		<div class="">
			<%= @trip.user.age %>, <%= @trip.user.gender.capitalize %>
		</div>
	</div>
</div>
