<div class="row">
	<div class="trip-private-bar">
		<div class="row">
			<div class="col-md-9" style="padding-top:15px;padding-left:150px;">
				<% @companions.each do |companion| %>
					<div class="col-md-1" style="width:55px;padding-left:0px;"><%= render "users/quick_details", user: companion %></div>
				<% end %>
			</div>
			<div class="col-md-3" style="border-left:1px solid rgb(213, 215, 214); border-right:1px solid rgb(213, 215, 214); min-height:80px; padding-right:40px;">				
				<div class="center" style="margin-top:16px;">
					<a href="#" type="button" data-toggle="modal" data-target="#tripInvitationsModal" class="btn btn-default btn-lg btn-block">
						Invite Friends
					</a>
				</div>

			</div>

		</div>
	</div>
</div>