<div class="row">
	<div class="trip-private-bar">
		<div class="row">
			<div class="col-md-6" style="padding-top:15px;padding-left:80px;">
				<div class="user-with-box">
					<%= link_to @trip.user, class: "no-decoration" do %>
						<%= user_image(@trip.user) %>
					<% end %>
					<div class="no-height hide">
						<div class="user-box">
							<h4><%= @trip.user.first_name %></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" style="border-left:1px solid rgb(213, 215, 214); border-right:1px solid rgb(213, 215, 214); min-height:80px; padding-right:40px;">				
				<div class="center" style="margin-top:16px;">
					<a href="#" type="button" data-toggle="modal" data-target="#tripInvitationsModal" class="btn btn-default btn-lg btn-block">
						<i class="fa fa-group" style="margin-right:5px;"></i> Add Friends
					</a>
				</div>

			</div>

		</div>
	</div>
</div>