<select id="trip_region" name="trip[region]"><option value="1">Europe</option>
<option value="2">Africa</option>
<option value="3">East Asia</option>
<option value="4">South Asia</option>
<option value="5">Southeast Asia</option>
<option value="6">North Asia</option>
<option value="7">N. America</option>
<option value="8">S. America</option>
<option value="9">Central America</option>
<option value="10">Australia, South Pacific</option>
<option value="11">Middle East</option>
<option value="12">Russia, C. Asia, Transc.</option>
<option value="13">Antarctica</option>
</select>

<!-- 
<select>
    <optgroup label="Group 1">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
    </optgroup>
    <optgroup label="Group 2">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
    </optgroup>
</select>
 -->