<li class="sidebar_list_item">
	<div class="row">
		<div class="col-md-12">
			<h3>
				<%= link_to trip.name, [current_user, trip] %>
				<% if trip.inactive? %>
					<small>(inactive)</small>
				<% end %>
			</h3>
		</div>
	</div>
</li>