.row
  - @trips.each do |trip|
    - if admin_user?
      .col-md-3
        = render 'trips/list_item', trip: trip
    - elsif trip.active?
      .col-md-3
        = render 'trips/list_item', trip: trip
  / .col-md-3
  /   = render 'trips/plainfield'
.row
  .col-md-12
    = will_paginate @trips