<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-4">
						<h1>New Trip!</h1>
					</div>
					<div class="col-md-2">
						About Your Trip
					</div>
					<div class="col-md-2">
						Travel Companions
					</div>
					<div class="col-md-2">
						About You
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="well">
							Traveling...
						</div>
					</div>
					<div class="col-md-8">
						Form details
					</div>
				</div>
			</div>
		</div>
	</div>
</div>