<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 visible-md-block visible-lg-block" style="padding-left:0px;padding-right:1px;">
			<%= render "layouts/sidebar" %>
		</div>
	  <div class="col-md-10 dash-background">
			<div class="row">
				<% if @trips.any? %>
					<div class="col-md-12">
						<% @trips.each do |trip| %>
							<div class="col-md-4">
								<%= render "trips/well", trip: trip, joinable: true %>
							</div>
						<% end %>
					</div>
				<% else %>
					<div class="col-md-12">
						<div class="well" style="margin:20px;">
							<div class="center grey">
								<i class="fa fa-plane" style="font-size:1000%"></i>
								<h3 class="red">No Trips Found</h3>
								<p class="red">Check back soon!</p>
							</div>
						</div>
					</div>
				<% end %>
			</div>
	  </div>
	</div>
</div>


