.row
  .span12.no-margin-large-desktop
    .dashboard-well
      .row
        .span10.offset1
          - if @trips.any?
            = render "trips/trips"
          - else
            .well{style: "color: black;"}
              %h2.center.grey No TripShares currently available. Please check back with us soon!

