<div class="container-fluid">
	<div class="row" style="background:#EFEDE2;">
		<div class="col-md-3" style="padding-left:0px;">
			<%= render "layouts/sidebar" %>
		</div>
	  <div class="col-md-9" style="min-height:500px;padding-right:0px;padding-left:0px;">
			<iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?location=41.8781%2C-87.6298&key=AIzaSyBby0kQu2u3emDsxyB6MITJnkNqzC5T9pg"></iframe>
	  </div>
	</div>
</div>


