<div class="container-fluid">
	<div class="row">
		<div class="col-md-1 visible-md-block visible-lg-block" style="padding-left:0px;padding-right:1px;">
			<%= render "layouts/sidebar" %>
		</div>
	  <div class="col-md-11 dash-background">
			<div class="row">
				<% if @trips.any? %>
					<div class="col-md-12">
						<% @trips.each do |trip| %>
							<div class="col-md-3">
								<%= render "trips/well", trip: trip %>
							</div>
						<% end %>
					</div>
				<% else %>
					<div class="col-md-12">
						<div class="well" style="margin:20px;">
							<div class="center grey">
								<i class="fa fa-plane" style="font-size:1000%"></i>
								<h3>No Trips Currently Available</h3>
								<p>Sign up for alerts to stay notified of upcoming trips.</p>
							</div>
						</div>
					</div>
				<% end %>
			</div>
	  </div>
	</div>
</div>


