<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 visible-md-block visible-lg-block" style="padding-left:0px;padding-right:1px;">
			<%= render "layouts/sidebar" %>
		</div>
	  <div class="col-md-10 dash-background">			
			<% if @trips.any? %>
				<div class='loading-spinner'><i class='fa fa-spinner fa-spin'></i></div>
				<div class="row">
					<div class="col-md-12">
						<div id="trip-list">
							<%= render "trips/trips", trips: @trips %>
						</div>
					</div>
				</div>
			<% end %>
			<div id="trips-none-found">
				<%= render "trips/none_found" %>
			</div>
	  </div>
	</div>
</div>


