.row
  .span12.no-margin-large-desktop
    .dashboard-well
      .row
        .span10.offset1
          %h2.black.center.no-margin Create new Trip
          .well{style: "color: black;"}
            .center
              = render 'form'