<div class="container-fluid">
	<div class="row" style="background:#EFEDE2;">
		<div class="col-md-3" style="padding-left:0px;">
			<%= render "layouts/sidebar" %>
		</div>
	  <div class="col-md-9" style="min-height:500px;">

	  </div>
	</div>
</div>