<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well build-trip-well">
				<div class="row">
					<div class="col-md-4"style="padding:0px;">
						<h1>Trip Create</h1>
					</div>
					<div class="col-md-2" style="padding:0px;">
						<div class="trip-category active">
							<i class="fa fa-group"></i>
							<br>
							Travel Companions
						</div>
					</div>
					<div class="col-md-2"style="padding:0px;">
						<div class="trip-category">
							<i class="fa fa-plane"></i>
							<br>
							Where to?
						</div>
					</div>
					<div class="col-md-2"style="padding:0px;">
						<div class="trip-category">
							<i class="fa fa-user"></i>
							<br>
							About You
						</div>
					</div>
				</div>
				<hr class="thick">
				<div class="row">
					<div class="col-md-4">
						<div class="well" style="min-height:500px;">
							<div class="center"><%= image_tag "regions/europe.png", size: "200x200" %></div>
						</div>
					</div>
					<div class="col-md-8">
						<%= form_for @trip do |f| %>
							<div id="onboarding-group-details">
								<h3>Who are you seeking to join you on your trip?</h3>
								<hr>
								<%= render 'trips/onboarding/groupdetails', f: f %>
								<hr>
								<a class="btn btn-default btn-lg pull-right fancy" id="onboarding-hide-group-details"> CONTINUE </a>
							</div>
							<div id="onboarding-purpose">
								<h3>What should they enjoy doing on your trip?</h3>
								<hr>
								<%= render 'trips/onboarding/purpose', f: f %>
								<hr>
								<button type="submit" class="btn btn-default btn-lg pull-right fancy" id="onboarding-submit-travelcompanions"> CONTINUE </button>
							</div>

						<% end %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>