<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render 'users/sidebar' %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<% unless @trips.any? %>
					<div class="well">
						<div class="center grey">
							<i class="fa fa-plane" style="font-size:1000%"></i>
							<h3>No Trips Found</h3>
						</div>
					</div>
				<% end %>
				<% @trips.each do |trip| %>
					<div class="col-md-4">
						<%= render "trips/well", trip: trip %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
