<div class="container">
	<div class="row top-margin">
		<div class="col-md-10 col-md-offset-1">
			<div class="well well-messages">
				<%= render "messages/nav", tab_active: "contacts" %>
				
				<h3 class="grey">There are no contacts.</h3>
			</div>
		</div>
	</div>
</div>