<div id="home-background5">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="well well-messages">
					<%= render "messages/nav", tab_active: "join-requests" %>
					<div class="row">
						<div class="col-md-12">
							<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						    <ul id="myTab" class="nav nav-tabs" role="tablist">
						      <li role="presentation" class="active"><a href="#received" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Received</a></li>
						      <li role="presentation" class=""><a href="#sent" role="tab" id="feed-tab" data-toggle="tab" aria-controls="feed" aria-expanded="false">Sent</a></li>
						    </ul>
							  <div class="tab-content">
						      <div role="tabpanel" class="tab-pane fade active in" id="received" aria-labelledby="home-tab">
										<% if @join_requests_received.any? %>
						        	<%= render 'messages/join_requests_received', join_requests_received: @join_requests_received %>
										<% else %>
											<h3 class="grey">There are no requests.</h3>
										<% end %>
						      </div>
						      <div role="tabpanel" class="tab-pane fade" id="sent" aria-labelledby="feed-tab">
										<% if @join_requests_sent.any? %>
						        	<%= render "messages/join_requests_sent", join_requests_sent: @join_requests_sent %>
										<% else %>
											<h3 class="grey">There are no requests.</h3>
										<% end %>
						      </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
