<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Countries I've Visited</h3>
		  </div>
		  <div class="panel-body" style="max-height:300px; overflow-y:scroll;">
				<div class="row">
					<% User::COUNTRIES_ARRAY.each do |country| %>
							<% user.country_blob.split(",").include?(country[1]) ? checked_or_no = "checked" : checked_or_no = "" %>
							<div class="col-md-3">
								<div class="checkbox">
							    <label>
							      <input type="checkbox" name="country_tags[<%= country[1] %>]" <%= checked_or_no %>> <%= country[0] %>
							    </label>
								</div>
							</div>
					<% end %>
				</div>
		  </div>
		</div>
	</div>
</div>