<div class="modal-body">
	<%= render "sessions/facebook_or", fb_prefix: "Log in" %>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<%= form_tag '/login' do %>
				<div class="row small-bottom-margin">
					<div class="col-md-12">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon2">@</span>
						  <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" aria-describedby="sizing-addon2" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-lock' style="padding-left:2px;padding-right:1px;"></i></span>
						  <input type="password" class="form-control" placeholder="Password" id="password" name="password" aria-describedby="sizing-addon2" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="pull-right">
				      <small><%= link_to "Forgot Password?", "#", class: "grey-link passreset-link" %></small>
				    </div>
					</div>
				</div>
        <div class="row small-top-margin">
        	<div class="col-md-12">
						<button class="btn btn-salmon btn-lg" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Submitting..." name="button" type="submit" style="width:100%;"> Log In</button>
        	</div>
        </div>

      <% end %>
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			Don't have an account?
			<%= link_to "Sign up", "#", class: "signup-link" %>
		</div>
	</div>
</div>
