<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
  <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= form_tag password_resets_path, id: "pass_reset_email", method: :post do %>
				<label>Enter the email address associated with your account, and we'll send you a link to reset your password.</label>
				<div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon2">@</span>
				  <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" aria-describedby="sizing-addon2" autocomplete="off" required>
				</div>
				<%= submit_tag 'Send Reset Link', class: "btn btn-default pull-right", style: "margin-top:10px; margin-bottom:20px;", data: { disable_with: "Submitting..." } %>
			<% end %>

		</div>
		
	</div>
</div>