<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
  <div class="row">
		<div class="col-md-12">
			<%= form_tag password_resets_path, id: "pass_reset_email", method: :post do %>
				<label>Enter the email address associated with your account, and we'll send you a link to reset your password.</label>
				<div class="input-group input-group-lg">
				  <span class="input-group-addon" id="sizing-addon2">@</span>
				  <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" aria-describedby="sizing-addon2" autocomplete="off" required>
				</div>
				<button class="btn btn-default pull-right" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Submitting..." name="button" type="submit" style="margin-top:10px; margin-bottom:20px;"> Send Reset Link</button>
			<% end %>

		</div>
		
	</div>
</div>