<a href="#" type="button" id="signup-link" data-toggle="modal" data-target="#signinModal" class="grey-dark-link" style="margin-right:5px;text-shadow:none;">
	sign up
</a>
<button type="button" id="login-link" class="btn btn-default" data-toggle="modal" data-target="#signinModal">
  <i class='fa fa-user' style='margin-right:5px;'></i>
	Log In
</button>
<%= render "sessions/signin_modal" unless current_user %>