<section>
  <div class="row">
		<div class="col-md-6">
			<%= render 'users/form' %>
		</div>
		<div class="col-md-6">
			<div class="center">
				<p class="small" style="margin-top:100px;margin-bottom:5px;">The easy way...</p>
				<p class="small center" style="margin-top:0px;">We never post to Facebook.</p>
				<a href="/auth/facebook" id="sign_in" class="btn btn-facebook" style="margin-bottom:10px; padding-left:20px;padding-right:20px;">
					<i class='fa fa-facebook' style="padding-right:4px;"></i> Sign in with Facebook
				</a>
			</div>
		</div>

  </div>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<%= link_to "<i class='fa fa-arrow-left'></i> back".html_safe, "#", class: "cancelsignuplink" %>
			</div>
		</div>
	</div>
</section>