<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content" id="login-modal-content">
			<%= render "sessions/login_modal_content" %>
    </div>
		<div class="modal-content" id="passreset-modal-content">
			<%= render "sessions/passreset_modal_content" %>
    </div>
		<div class="modal-content" id="signup-modal-content">
			<%= render "sessions/signup_modal_content" %>
    </div>
  </div>
</div>
