<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
	  <td>
	    <b>"<%= @trip.name %>" is now active on Tripsharing!</b>
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:20px; padding-bottom:0px;">
	    You can view your trip at the following url:
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:0px; padding-bottom:20px;">
	    <%= link_to @trip.name, trip_url(id: @trip.id) %>
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:20px; padding-bottom:0px;">
	    What's next?
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:0px; padding-bottom:0px;">
	    1. Travelers who share similar interests may request to join your trip.
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:0px; padding-bottom:0px;">
	    2. Engage with interested travel companions.
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:0px; padding-bottom:20px;">
	    3. Share your trip on Facebook, Twitter and other social networks
	  </td>
	</tr>
</table>