<tr>
  <td>
    Hello <%= @user.full_name %>,
  </td>
</tr>
<tr>
  <td style="padding-top:20px">
    To verify your TripSharing account please click the following link:
  </td>
</tr>
<tr>
  <td style="padding-top:20px">
    <%= link_to "#{user_verification_url(@user, @user.verification_token)}", user_verification_url(@user, @user.verification_token) %>
  </td>
</tr>
