<div id="home-background5">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="well well-messages">
					<%= render "notifications/nav" %>
				
					<% if @notifications.any? %>
	        	<% @notifications.each do |notification| %>
							<%= render "notifications/notification", notification: notification %>
						<% end %>
						<%= will_paginate @notifications %>
					<% else %>
						<h3 class="grey">There are no notifications.</h3>
					<% end %>
				
				</div>
			</div>
		</div>
	</div>
</div>