<ul class="timeline">
	<% @activities.each do |activity| %>
		<%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
	<% end %>

  <li>
    <div class="timeline-badge primary"><i class="fa fa-user"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Member account created</h4>
				<p><small class="text-muted"><i class="fa fa-time"></i> <%= time_ago_in_words(@user.created_at) %> ago.</small></p>
      </div>
      <div class="timeline-body">
        <p><%= @user.full_name %>'s member account has been created.</p>
				
				<!--
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
				-->
      </div>
    </div>
  </li>

</ul>