<div class="row">
	<% user.interest_blob.split(",").each do |b| %>
		<% i = b.split("-") %>
		<% unless i[1] == "0" %>
			<% preference = User::INTERESTS[i[0]] %>
			<% m = preference["margins"].split("-") %>
			<div class="col-md-6 small-bottom-margin">
				<i class="fa fa-<%= preference["icon"] %>" style="margin-left:<%= m[0] %>px;margin-right:<%= m[1] %>px;"></i> <%= preference["attrs"][i[1]] %>
			</div>
			
		<% end %>
	<% end %>
</div>
