.row
  .span12.no-margin-large-desktop
    .dashboard-well
      %br
      %br
      .row
        .span10.offset1
          .well{style: "color: black;"}
            %h2.center Thank you for your interest, please check back with us soon!
      %br
      %br

      