<div class="dots-white top-margin" style="padding-top:10px;padding-bottom:10px;">
	<%= form_for [@trip, @stop], remote: true do |f| %>
	
		<i class="fa fa-map-marker"></i>
	
		<input name="stop[to_name_dest]" id="stop_to_name_dest" type="text" class="add-geocomplete" placeholder="Destination" style="width:250px;" autocomplete="off">
		
		<span style="margin-left:5px;margin-right:10px;">--or--</span>
		<i class="fa fa-plane"></i>
		<div class="prefetch inline no-margin" style="position:relative;top:-3px;">
		  <input class="typeahead" type="text" id="stop_to_name" name="stop[to_name]" placeholder="Airport" style="width:250px;" autocomplete="off">
		</div>
		<span class="pull-right">
			<i class="fa fa-calendar"></i>
			<input class="datepicker" id="stop_to_date" placeholder="mm/dd/yyyy" name="stop[to_date]" data-date-format="mm/dd/yyyy">
			<%= f.submit "ADD", class: "btn btn-default" %>
		</span>
	<% end %>
</div>
