%fieldset.image-box
  .row
    .col-md-6.small-left-margin
      - if f.object.new_record?
        = f.file_field :image, class: "col-md-4", style: "margin-left: 0px;"
      - else
        = image_tag(f.object.image.url(:small)).to_s
      = f.hidden_field :_destroy
      = link_to "<i class='icon-remove-circle'></i> remove".html_safe, '#', class: 'remove_fields'
