<%= form_for [@trip, @invitation], html: { id: "new_invitation_form"}, remote: true do |f| %>

	<div class="row small-bottom-margin">
		<div class="col-md-4 no-right-padding">
				<input name="invitation[name]" aria-describedby="sizing-addon1" type="text" class="form-control" id="invitation_name" placeholder="Jane Doe" style="width:100%;" autocomplete="off" required>
		</div>
		<div class="col-md-6 no-right-padding">
				<input type="email" aria-describedby="sizing-addon3" style="padding-left:12px;" class="form-control" id="invitation_email" placeholder="janedoe@gmail.com" name="invitation[email]" autocomplete="off" required>				  
		</div>
		<div class="col-md-2">
			<%= f.button "<i class='fa fa-plus'></i>".html_safe, class: "btn btn-default", style: "width:100%" %>
		</div>
	</div>

<% end %>
