<div class="modal-body welcome-body">
	<div class="row bottom-margin">
		<div class="col-md-12">
			<h3>Discover trips and meet travel companions that match your interests.</h3>
		</div>
	</div>
	<div class="row bottom-margin">
		<div class="col-md-12">
			<% @welcome_trips.each do |trip| %>
				<div class="col-md-4">
					<div class="demo-trip">
						<%= render "trips/trip", trip: trip, joinable: false %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="modal-footer welcome-footer">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "NEXT", "#", class: "btn btn-salmon btn-lg pull-right small-right-margin goto-welcome-2" %>
		</div>
	</div>
</div>