<div class="modal-body welcome-body">
	<div class="row bottom-margin">
		<div class="col-md-12">
			<h3>Follow regions of interest to you</h3>
		</div>
	</div>
	<%= render "users/edit/regions_following", user: @welcome_user, f: f %>
</div>
<div class="modal-footer welcome-footer">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "NEXT", "#", class: "btn btn-salmon btn-lg pull-right small-right-margin goto-welcome-3" %>
		</div>
	</div>
</div>