<div class="modal fade" data-backdrop="static" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    <div class="modal-content">
	
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						WELCOME TO TRIPSHARING!
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding-bottom:40px;">
				<div class="row">
					<div class="col-md-12">
						Welcome...
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<%= link_to "next", "", class: "btn btn-default pull-right" %>
					</div>
				</div>
				
				
				
			</div>

		</div>
	</div>
</div>