$("#survey_form").hide();
$("#tagline").hide();
$("#signup").fadeIn(400);
$("#tagline2").append("Signup to meet other travelers going to <span class='turquoise_dark' style='text-decoration:underline'><%= @survey.destination.split(',').first %> <i class='fa fa-plane turquoise_dark'></i></span>");
$("#tagline2").fadeIn(400);