$("#survey_form").hide();
$("#tagline").hide();
$("#signup").fadeIn(400);
$("#tagline2").append("Signup to get matched with travelers heading to <i class='fa fa-map-marker turquoise_dark'></i> <span class='turquoise_dark' style='text-decoration:underline'><%= @survey.destination.split(',').first %></span>...");
$("#tagline2").fadeIn(400);