<% content_for :title do %>
  <%= t('application.root.title_with_tag_line', tag_line: "#{@rescue_response}") %>
<% end %>
<div class="row" style="margin-top:40px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="center">
      <h1>
        <%= details[:name] %>
      </h1>
      <p>
        <%= details[:message] %>
      </p>
      <br/>
      <br/>
      <%= link_to "Back to home", root_path %>
    </div>
  </div>
</div>
