$linkColor: #686868;
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Nunito:400,700');
@import url('//fonts.googleapis.com/css?family=Slabo+27px');
@import url('//fonts.googleapis.com/css?family=Crafty+Girls');
//@import "bootstrap-responsive";

/* MIXINS */

@mixin rounded_borders {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}

/* Colors, Misc */

$beige: #EFEDE2;
$white: #ffffff;
$black: #000000;
$salmon: #D27D66;
$turquoise: #5BD195;
$turquoise_dark: #4CAF7D;
$orange: rgb(251,185,11);
$orange2: #ffcc11;
$orange3: #ffc414;
$blue: rgb(23, 54, 93);
$blue_green: #6DD0CE;
$grey_dark: #686868;
$grey_light: rgb(213, 215, 214);
// Others:
$green: #7CC75C;
$green_dark: #65A24B;
$grey: #DBDBDB;
$yellow: #E3D423;
$yellow_light: #eff2b9;
$header_background: white;
$link_color: $blue;
$red: #C15248;
$fb_color: #3B5998;
$tw_color: #4099FF;
$gp_color: #d34836;

// From the new Style Guide
$dark_blue: #0f294a;
$light_orange: #ffc62c;
$body_grey: #4a4a4a;

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}
@mixin really_rounded_border {
	 -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	         border-radius: 15px;
}
@mixin add_transition {
	-o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* ...and now for the proper property */
  transition:.4s;
}

.beige { color: $beige;}
.salmon { color: $salmon; a { color: $salmon; }}
.turquoise {color: $turquoise;}
.turquoise_dark {color: $turquoise_dark;}
.white {color: white;}
.green {color: $green;}
.green-dark {color: darken($green, 10%);}
.yellow {color: $yellow;}
.orange {color: lighten($orange, 10%);}
.orange-dark {color: darken($orange, 8%);}
.red {color: $red;}
.blue {color: $blue;}
.black {color: black;}
.grey {color: $grey;}
.grey-dark {color: $grey_dark;}
.fb-color {color: $fb_color;}
.tw-color {color: $tw_color;}
.gp-color {color: $gp_color;}
.red-background { background: $red; }
.green-background { background: $green_dark; }
.orange-background { background: $orange; }
.grey-background { background: $grey_dark; }
.blue-hr {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}
.grey-hr {
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
}

/* Universal */
html,body { 
  padding:0px;
  margin:0px;
}
body {
  color: $body_grey;
	background: $beige;
}
#main {
	min-height:600px;
	background:$beige;
//	background: image-url("plane_beige.png") 
}
h1, h2, h3, h4, h5, h6, p { font-family: 'Nunito', sans-serif; }
h1 { color: $dark_blue; }
h4 { line-height: 1.2em; }
.zero-height { height: 0px; }
.inline { display: inline; }
.huge { font-size: 500%; line-height: 100%; }
.large {font-size: 375%;}
.bigger {font-size: 200%;}
.big {font-size: 150%;}
.heavy {font-size: 130%;}
.regular {font-size:100%;}
.smaller {font-size: 90%;line-height: 130%;}
.small {font-size: 80%;line-height: 120%;}
.tiny {font-size: 30%;line-height: 120%;}
.hr-top-bottom {margin-top:40px;margin-bottom:15px;}
.no-right-margin { margin-right: 0px; }
.no-left-margin { margin-left: 0px; }
.no-top-margin { margin-top: 0px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0; }
.small-top-margin {margin-top:10px;}
.small-right-margin { margin-right:5px; }
.small-bottom-margin { margin-bottom:10px; }
.smaller-bottom-margin { margin-bottom:2px; }
.small-left-margin { margin-left:10px; }
.small-margin { margin-top:3px; margin-bottom:3px; }
.right-margin { margin-right:3px; }
.left-margin { margin-left: 20px; }
.bottom-margin { margin-bottom: 20px; }
.top-margin { margin-top:20px; }
.top-margin-small { margin-top:10px; }
.top-margin-tiny { margin-top:5px; }
.bottom-margin-small { margin-bottom:10px; }
.no-top-border { border-top:none;}
.indent { margin-left: 17px;}
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.bold {font-weight: bold;}
.pointer { cursor: pointer; }
.no-pointer { cursor: auto; }
.no-decoration {
	text-decoration: none;
	&:hover {text-decoration: none;}
	a {text-decoration: none;}
	a:hover {text-decoration: none;}
}
.left-border { border-left: 1px solid black;}
.underline { text-decoration: underline; }
.small-padding { padding: 10px; }
.side-padding { padding: 0px 3px;}
.top-padding {padding-top:60px;}
.no-bottom-padding { padding-bottom: 0px;}
.no-padding {padding:0px;}
.well {
	background: white;
//	border: 1px dotted $grey_dark;
	box-shadow: none;
}
.well.darken {background: lighten($grey_light, 15%);}
.shadow {box-shadow: 3px 3px 2px #888888;}
.span1minus30 { width: 30px; }
.span5plus20 {width: 400px;}
.no-height {height: 0px;}
.col-md-12input {display:none;}
.namey {display:none;}
.transparent {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

// OVERRIDES
input[type="password"].form-control,
input[type="email"].form-control,
input[type="text"].form-control,
input[type="search"].form-control{
	 -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	         border-radius: 2px;
}
.label-success {background: $turquoise_dark; padding-top:3px;}
.form-control { margin-bottom: 10px; }
ul.nav-tabs li a {color: $grey_dark;}
ul.nav-tabs li a:hover {background: #fff;}
.tab-content .tab-pane {padding-left: 0px; padding-right:0px;}
.btn-turquoise-hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-turquoise-hover:hover,
.btn-turquoise-hover:focus,
.btn-turquoise-hover.focus,
.btn-turquoise-hover:active,
.btn-turquoise-hover.active,
.open > .dropdown-toggle.btn-turquoise {
  color: #fff;
  background-color: $turquoise_dark;
  border-color: darken($turquoise_dark, 10%);
}
.btn-turquoise {
  color: #fff;
  background-color: $turquoise_dark;
  border-color: darken($turquoise_dark, 10%);
}
.btn-turquoise:hover,
.btn-turquoise:focus,
.btn-turquoise.focus,
.btn-turquoise:active,
.btn-turquoise.active,
.open > .dropdown-toggle.btn-turquoise {
  color: #fff;
  background-color: $turquoise_dark;
  border-color: darken($turquoise_dark, 10%);
}
.btn-salmon {
  color: #fff;
  background-color: $salmon;
  border-color: darken($salmon, 10%);
}
.btn-salmon:hover,
.btn-salmon:focus,
.btn-salmon.focus,
.btn-salmon:active,
.btn-salmon.active,
.open > .dropdown-toggle.btn-salmon {
  color: #fff;
  background-color: $salmon;
  border-color: darken($salmon, 10%);
}
label {color: darken($grey_dark, 30%);}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
//  border-color: rgba(126, 239, 104, 0.8);
//  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
//  outline: 0 none;
}
.panel {
	border: 1px dotted;
}
.modal-open .modal,.btn:focus{
    outline:none!important;
}
.modal-open .modal,a:focus{
	outline:none!important;
	text-decoration:none;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.checkbox-image {
	border: 2px solid $white;
  box-shadow: 0 0 3px 3px $white;
}
.highlight {
	border: 2px solid $salmon;
  box-shadow: 0 0 3px 3px $salmon;
}
.modal {z-index:5;}
.alert { border-radius: 0; margin-bottom: 0px;}
.modal-body label { font-weight:200; }
#signup {display: none;}
#tagline {
	font-family: 'Crafty Girls';
	font-size: 240%; 
	margin-bottom: 20px; 
	margin-top: 30px; 
	position: relative; 
	z-index: 2;
}
#tagline2 {
	font-family: 'Crafty Girls';
	font-size: 240%; 
	margin-bottom: 20px; 
	margin-top: 30px; 
	position: relative; 
	z-index: 2;
	display: none;
}
#passreset-modal-content, #login-modal-content {display: none;}
.nav > li.dropdown.active.open > a, 
.nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav > li.dropdown.open > a, 
.nav > li.dropdown.open > ul.dropdown-menu a:hover,
.nav > li.dropdown:hover > a
{ background-color: inherit; }

a.add-description {
	color: $grey;
	&:hover {
		color: $grey_dark;
		text-decoration:none;
	}
	h3:hover {text-decoration:none;}
}

.send-to-front {
	position: relative;
	z-index: 1;
}

// TRIPS ONBOARDING
#welcomeModal .modal-dialog .modal-content {
	background: $beige;
	.modal-header { background: #fff; }
}
#welcome-modal-content-3,
#welcome-modal-content-4, #welcome-modal-content-5 {
	display: none;
}
.welcome-body {
	padding-bottom: 40px;
	height: 500px;
}
.welcome-footer {
	padding-top: 34px;
	height: 100px;
}
#onboarding-purpose, #onboarding-wherefrom, #onboarding-profile,
#onboarding-stops, #onboarding-when, #onboarding-interests {display: none;}
.interest {font-size: 140%;display:inline;margin:0px;margin-left:10px;padding:0px;}
input[type="radio"].fancyradio+span {
	padding:2px 8px 4px 8px;
	margin:0px;
	font-size: 90%;
	color: $grey_dark;
	border: 1px solid transparent;
	@include rounded_border;
}
input[type="radio"].fancyradio+span:hover {
	color: $white;
	background: $salmon;
	@include add_transition;
}
input[type="radio"].fancyradio:checked+span{
	color: $white;
	background: $salmon;
}
input[type="radio"].fancyradio-shell+span {
	border: 1px solid #CCC;
}
.fancy-dark.btn.btn-lg {
	font-size: 28px;
	color: white;
	background-color: $turquoise_dark;
	border: 1px dotted;
	border-radius: 0;
}
.fancy-dark.btn.btn-lg:hover {
	color: white;
	background-color: darken($turquoise_dark, 10%);
	-o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
.form-fancy input,
.form-fancy textarea,
.form-fancy select {
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	font-size: 160%;
//	background-color: transparent;
	border: none;
	border: 1px dotted;
	vertical-align: text-bottom;
	padding-left:10px;
	color: $grey_dark;
}

a.footer-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.fb-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.tw-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.gp-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}

h2.choice {
	padding: 5px 10px;
	margin-top:0px;
	margin-bottom:10px;
	@include rounded_borders;
}
h2.choice.active {
	color: $white;
	background: $salmon;
}
h2.choice.inactive {
	color: $grey;
}
h2.choice.inactive a {
	color: $grey;
}

.slogan-text {
	color: $white;
	font-size: 400%;
	text-align: center;
}
.slogan-text.mid {
	text-shadow: 1px 1px black;
	padding-top: 160px;
}
.slogan-text.bottom {
	padding-top: 600px;
	text-shadow: 1px 1px black;
	padding-bottom: 40px;
}

.btn-start {
	background: $turquoise;
	padding: 10px;
	display: inline;
	font-size: 300%;
	width: 200px;
	@include rounded_borders;
	border: 6px solid $white;
	color: $white;
	&:hover {
		cursor: pointer;
		color: lighten($turquoise, 20%);
		border: 6px solid lighten($turquoise, 20%);
	}
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 5000;
}
#page {display: none;}
#spinner {
	background: image-url("spinner.gif") no-repeat center center #FFF;
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
}
.well-messages {
	margin-top: 40px;
	min-height: 600px;
	padding: none;
	margin-bottom:100px;
}

.trip-background {
//	background: image-url("clouds.jpg");
}
.dash-background {
	min-height:900px;
	padding-right:0px;
	padding-left:0px;
	padding-top:20px;
	background: image-url("clouds.jpg");
//	-webkit-background-size: cover;
//	-moz-background-size: cover;
//	-o-background-size: cover;
//	background-size: cover;
	border-left: 2px solid $grey_dark;
}
#slogan {
	color: #fff;
	margin-top: 5em;
	margin-bottom: .3em;
}

#home-background { 
//  background: image-url("home/288412.jpg") no-repeat center center fixed;
//  background: image-url("home/people_camping_hiking.jpg") no-repeat center center fixed;
	background: image-url("home/Bagan-Medium.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 900px;
}
#home-background2 {
	padding-top:5px;
	padding-bottom:5px;
	background: black;
	opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100px;
}
#home-background3 {
	padding-top:40px;
	padding-bottom:80px;
  background-color: $blue_green;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 600px;
}
#home-background4 { 
  background: image-url("home/bogota_columbia.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}
#home-background5 { 
  background: image-url("home/Bagan-Medium.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}
.focus:before {
  content: "";
  position: fixed;
	top: -40px;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
	background: image-url("home/288412.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  min-height: 1200px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.focus {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
}
.duddo {
	font-size: 1000%;
	color: #E4E3D8;
	margin: 50px;
}
.trip-well {
	background: $white;
	margin-bottom: 20px;
	font-size:90%;
	 -webkit-border-top-right-radius: 15px;
	    -moz-border-top-right-radius: 15px;
	         border-top-right-radius: 15px;
	 -webkit-border-top-left-radius: 15px;
	    -moz-border-top-left-radius: 15px;
	         border-top-left-radius: 15px;
	.trip-name {
		height:0px;
		padding-left: 10px;
		padding-right: 10px;
		position:relative;
		top:10px;
		font-size: 140%;
		line-height: 130%;
		text-shadow: 1px 1px black;
		a {color: $white;}
	}
	.trip-well-body {
		min-height: 146x;
		padding:8px;
		.trip-first-stop {
			margin-top:8px;
			padding-top:5px;
			min-height: 80px;
			border-top: 1px dotted $grey_dark;
			.trip-departs-to {height:18px; overflow: hidden;margin-bottom:20px; color: darken($turquoise_dark, 10%);}
		}
	}
	box-shadow: 3px 3px 2px #888888;
}
.hide-overflow-87 {
	 -webkit-border-top-right-radius: 15px;
	    -moz-border-top-right-radius: 15px;
	         border-top-right-radius: 15px;
	 -webkit-border-top-left-radius: 15px;
	    -moz-border-top-left-radius: 15px;
	         border-top-left-radius: 15px;
	height: 87px;
	overflow:hidden;
	&:hover .trip-name a {text-decoration: underline;}
}

.build-trip-well {
	padding-top:0px;
	margin-top:80px;
	margin-bottom:160px;
	label {font-size: 140%;}
	hr.thick {margin-top:0px; border-top: 3px solid $turquoise_dark;}
	h1 {
		color: $turquoise_dark;
		margin: 10px 0px 0px 20px;
		line-height:140%;
		padding-bottom:10px;
		font-size:180%;
	}
	h3 {color: $salmon; margin-top:10px;}
	.trip-category {
		color: $grey;
		text-align: center;
		margin-top:0px;
		padding: 20px 0px;
		i { font-size: 200%; padding-bottom:5px; }
		&.active {color: $white; background: $turquoise_dark;}
	}
	.well {background: $beige;}
}
.onboarding-section { min-height: 465px; }
#welcome-img-2, #welcome-img-3, #welcome-img-4, #welcome-img-5, #welcome-img-6 {display: none;}
.profile-pic {
	border: 6px solid $white;
//	-webkit-border-radius: 15em;
//	-moz-border-radius: 15em;
//	border-radius: 15em;
}
.show-trip {
	margin-bottom:100px;
	max-width: 1448px;
	.trip-pic {
		border: 1px solid $grey_dark;
		clip: rect(0px,60px,200px,0px);
	}
	.edit-trip-name {
		background: $white;
		text-align: center;
		margin:0px;
		margin-bottom:30px;
		border: 1px solid $grey_dark;
		border-top:none;
	}
	.trip-name {
		background: $white;
		text-align: center;
		margin:0px;
		margin-bottom:30px;
		border: 1px solid $grey_dark;
		border-top:none;
	}
	h1 {
		color: $turquoise_dark;
		padding: 20px 0px 10px 0px;
		margin:0px;
//		font-family: 'Crafty Girls';
		font-size:250%;
	}
	hr {border-top: 1px solid $grey;}
	h3 {
		margin-top:30px;
	}
}
.comment {
	margin-top:10px;
	background: $white;
	@include really_rounded_border;
	padding: 10px 10px;
	font-size:100%;
	line-height: 160%;
}
.dots {
	color: $white;
	background: $turquoise_dark;
	border: 1px dotted $grey_dark;
	padding:0px 6px 0px 6px;
}
.dots-salmon {
	color: $white;
	background: $salmon;
	border: 1px dotted $grey_dark;
	padding:0px 6px 0px 6px;
}
.dots-white {
	background: $white;
	border: 1px dotted $grey_dark;
	padding:0px 6px 0px 6px;
}
a.white-link {
	color:darken($white, 10%);
	&:hover {text-decoration:none;color: darken($white, 20%);}
}
a.grey-link {
	color:darken($grey, 10%);
	&:hover {text-decoration:none;color: $grey_dark;}
}
a.grey-dark-link {
	color: $grey_dark;
	&:hover {text-decoration:none;color: darken($grey_dark, 10%);}
}
a.grey-dark-link.on {
	color: $salmon;
	font-weight: 500;
	&:hover {text-decoration:none;color: darken($salmon, 10%);}
}
a.grey-very-dark-link {
	color: darken($grey_dark, 10%);
	&:hover {text-decoration:none;color: darken($grey_dark, 10%);}
}
.airport {
	margin-right:2px;
	color: $white;
	border: 1px dotted $grey_dark;
	padding:0px 6px;
	@include rounded_borders;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
	background: -o-linear-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
	background: -moz-linear-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
	background: -linear-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
}

.iata {
	@include rounded_borders;
	padding:5px;
	&:hover {cursor:pointer; background: $salmon; color: $white;}
}
.trip-bar {
	text-align:center;
	background: $grey_light;
	padding: 8px 0px;
	border-bottom: 1px dotted $grey_dark;
}

.tag {
	background: $turquoise_dark; 
	color: $white; 
	@include rounded_borders; 
	padding: 2px 6px 4px 6px;
	font-size:80%;
	line-height: 230%;
}

.slight-tilt-img {
	position: relative;
	top:66px;
	left:72px;
	-ms-transform: rotate(-5.3deg); /* IE 9 */
  -webkit-transform: rotate(-5.3deg); /* Chrome, Safari, Opera */
  transform: rotate(-5.3deg);
}
.box {
	padding: 40px 20px;
	h4 {font-size: 200%;}
	ul {margin-left:10px;}
	ul li {font-size: 150%; line-height: 150%;}
	border: 3px solid white;
	background: white;
	@include rounded_borders;
	p {
		font-size:120%;
		line-height:160%;
	}
}
.image {
  border: 2px solid $white;
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
}
i.social-circle {
  display: inline-block;
	font-size: 200%;
	color: #fff;
	width: 40px;
	height: 40px;
	padding-top:5px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
}

.circle-salmon {
	background: $salmon;
  border: 2px solid $white;
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	height: 50px;
	width: 50px;
}

.questionmark {
  height:56px;
  width:56px;
}

.opaque-background-turquoise {
  position:fixed;
  z-index:3;
  height: 60px;
  width: 100%;
  background-color:rgb(91,209,149);
  background-color:rgba(91,209,149,0.4);
}
.opaque-background-black {
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}
.world_background {
}
.signup-well {
	font-weight:200;
  background-color: $white;
//	opacity: 1; // Leave this as 1
//  background-color: rgba(0,0,0,0.6);
  padding: 8px 16px 16px 16px;
  border-left: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-right: 1px solid $grey;
	a {color: lighten($grey_dark, 25%);}
	a:hover {color: black; @include add_transition; text-decoration:none;}
   -webkit-border-bottom-left-radius: 5px;
	    -moz-border-bottom-left-radius: 5px;
	         border-bottom-left-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
	    -moz-border-bottom-right-radius: 5px;
	         border-bottom-right-radius: 5px;
}
.dashboard-well {
  background: $white;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:2em;
  color: white;
  @include rounded_borders;
}

a.btn-facebook {
  background: $fb_color;
  color: white;
  text-shadow: none;
  box-shadow: none;
  &:hover {
    background: darken($fb_color, 10%);
    color: white;
  }
}
.trip-content {
	background:white;
	min-height:300px;
	border: 1px solid $grey;
	border-top:none;
}
.tab-pane {
	padding:20px;
}
.sidebar {
	padding-top:10px;
	padding-bottom:20px;
	h2 { padding-left:5px; font-size: 100%; margin:5px 0px 5px 0px; font-weight: 200; }
	hr {border-top: 1px solid $grey_dark;margin:15px 0 5px 0;}
}
.sidebar_list_item {
	padding:5px 10px;
	&:hover { background: darken($beige, 4%); cursor: pointer; }
	h3 {
		margin:0px; 
		font-size:100%;
	}
	h3 a {
		&:hover { text-decoration: none;}
	}
}
.sidebar_list_item.active {
	background: $grey;
	border: 1px solid white;
	border-right: none;
	border-left: none;
}

/* header */
.navbar, .navbar-inner {margin:0px; border-radius:0;background: white; border:none; box-shadow:none;}
.navbar {
	position:relative;
	z-index:1;
  margin:0px;
  height:49px;
  background-image: none;
	border-bottom: 1px solid $grey_dark;
  li a {
    text-shadow: none;
    &:hover { color: $turquoise;}
  }
}
.navbar .nav > li > a {
  b.caret { border-top-color: black !important;border-bottom-color: black !important; }
  &:hover { color: black; }
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image:none;
  background: white;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{ background-color: transparent !important; }
#logo {color: $salmon; font-size:200%; line-height:.3em; font-family: 'Crafty Girls';}
#logo:hover {text-decoration:none;}
#logo {position:relative; top:14px;}
#globe {position:relative;top:7px;}
#image-dropdown {
  position:relative; 
  right: 16px;
//  &:hover {cursor: pointer;}
}

/* footer */
.footer_background {background: image-url("tiles/noise_salmon.jpg");}
footer {
	border-top: 1px solid $grey_dark;
	position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  height:240px;
	background: image-url("tiles/noise_salmon.jpg");
//	opacity: 1; // Leave this as 1
//  background-color: rgba(0,0,0,0.6);
  padding-top: 20px;
  padding-bottom: 10px;
  color: $grey;
  a {color: $salmon;}
  a:hover {
    color: $salmon;
    text-decoration:underline;
  }
  small { 
    float: left; 
  }
	.title {
	  font-size: 150%;
		margin-bottom: 4px;
		font-weight: bold;
	}
}

/* shared/error_messages */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  input, textarea {color: black;}
  display: inline;
}
 
.field_with_errors .message {
  color: red;
  display: none;
  padding-left: 5px;
  font-size: 80%;
}

// ERRORS CSS WITH PARSLEY.JS

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  background-color: inherit;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
