$linkColor: #686868;
@import "bootstrap";
//@import "bootstrap-responsive";

/* MIXINS */

@mixin rounded_borders {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}

/* Colors, Misc */

$beige: #EFEDE2;
$white: #ffffff;
$black: #000000;
$salmon: #D27D66;
$turquoise: #5BD195;
$turquoise_dark: #4CAF7D;
$orange: rgb(251,185,11);
$orange2: #ffcc11;
$orange3: #ffc414;
$blue: rgb(23, 54, 93);
$blue_green: #6DD0CE;
$grey_dark: #686868;
$grey_light: rgb(213, 215, 214);
// Others:
$green: #7CC75C;
$green_dark: #65A24B;
$grey: #DBDBDB;
$yellow: #E3D423;
$yellow_light: #eff2b9;
$header_background: white;
$link_color: $blue;
$red: #C15248;
$fb_color: #3B5998;
$tw_color: #4099FF;
$gp_color: #d34836;

// From the new Style Guide
$dark_blue: #0f294a;
$light_orange: #ffc62c;
$body_grey: #4a4a4a;

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}
@mixin really_rounded_border {
	 -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	         border-radius: 15px;
}
@mixin add_transition {
	-o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* ...and now for the proper property */
  transition:.4s;
}

.beige { color: $beige;}
.salmon { color: $salmon; a { color: $salmon; }}
.turquoise {color: $turquoise;}
.turquoise_dark {color: $turquoise_dark;}
.white {color: white;}
.green {color: $green;}
.green-dark {color: darken($green, 10%);}
.yellow {color: $yellow;}
.orange {color: lighten($orange, 10%);}
.orange-dark {color: darken($orange, 8%);}
.red {color: $red;}
.blue {color: $blue;}
.black {color: black;}
.grey {color: $grey;}
.grey-dark {color: $grey_dark;}
.fb-color {color: $fb_color;}
.tw-color {color: $tw_color;}
.gp-color {color: $gp_color;}
.red-background { background: $red; }
.green-background { background: $green_dark; }
.orange-background { background: $orange; }
.grey-background { background: $grey_dark; }
.blue-hr {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}
.grey-hr {
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
}

/* Universal */
html,body { 
  padding:0px;
  margin:0px;
}
body {
  color: $body_grey;
}
#main {
	min-height:600px;
	background:$beige;
//	background: url("plane_beige.png") 
}
h1, h2, h3, h4, h5, h6, p { font-family: 'Nunito', sans-serif; }
h1 { color: $dark_blue; }
h4 { line-height: 1.2em; }
.zero-height { height: 0px; }
.inline { display: inline; }
.huge { font-size: 500%; line-height: 100%; }
.large {font-size: 375%;}
.bigger {font-size: 200%;}
.big {font-size: 150%;}
.heavy {font-size: 130%;}
.smaller {font-size: 90%;line-height: 130%;}
.small {font-size: 80%;line-height: 120%;}
.tiny {font-size: 30%;line-height: 120%;}
.hr-top-bottom {margin-top:40px;margin-bottom:15px;}
.no-right-margin { margin-right: 0px; }
.no-left-margin { margin-left: 0px; }
.no-top-margin { margin-top: 0px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0; }
.small-left-margin { margin-left:10px; }
.small-margin { margin-top:3px; margin-bottom:3px; }
.right-margin { margin-right:3px; }
.top-margin { margin-top:20px; }
.top-margin-small { margin-top:10px; }
.top-margin-tiny { margin-top:5px; }
.no-top-border { border-top:none;}
.indent { margin-left: 17px;}
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.pointer { cursor: pointer; }
.no-pointer { cursor: auto; }
.no-decoration { text-decoration: none; }
.left-border { border-left: 1px solid black;}
.underline { text-decoration: underline; }
.small-padding { padding: 10px; }
.side-padding { padding: 0px 3px;}
.top-padding {padding-top:60px;}
.no-bottom-padding { padding-bottom: 0px;}
.no-padding {padding:0px;}
.well {background: white;}
.well.darken {background: lighten($grey_light, 15%);}
.shadow {box-shadow: 3px 3px 2px #888888;}
.span1minus30 { width: 30px; }
.span5plus20 {width: 400px;}
.no-height {height: 0px;}
.col-md-12input {display:none;}
.namey {display:none;}
.transparent {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

// OVERRIDES
.alert {}
.modal-open .modal,.btn:focus{
    outline:none!important;
}
.modal-open .modal,a:focus{
	outline:none!important;
	text-decoration:none;
}
.modal {z-index:5;}
.alert { border-radius: 0; margin-bottom: 0px;}
.modal-body label { font-weight:200; }
#signup {display: none;}
#tagline {
	font-family: 'Crafty Girls';
	font-size: 240%; 
	margin-bottom: 20px; 
	margin-top: 30px; 
	position: relative; 
	z-index: 2;
}
#tagline2 {
	font-family: 'Crafty Girls';
	font-size: 240%; 
	margin-bottom: 20px; 
	margin-top: 30px; 
	position: relative; 
	z-index: 2;
	display: none;
}
#passreset-modal-content {display: none;}
.nav > li.dropdown.active.open > a, 
.nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav > li.dropdown.open > a, 
.nav > li.dropdown.open > ul.dropdown-menu a:hover,
.nav > li.dropdown:hover > a
{ background-color: inherit; }

a.add-description {
	color: $grey;
	&:hover {
		color: $grey_dark;
		text-decoration:none;
	}
	h3:hover {text-decoration:none;}
}

.send-to-front {
	position: relative;
	z-index: 1;
}

// TRIPS ONBOARDING
#onboarding-purpose, #onboarding-wherefrom, #onboarding-profile,
#onboarding-stops, #onboarding-when {display: none;}
.interest {font-size: 140%;display:inline;margin:0px;margin-left:10px;padding:0px;}
input[type="radio"].fancyradio+span {
	padding:0px 8px 4px 8px;
	margin:0px;
	font-size: 90%;
	color: $grey;
	border: 1px solid transparent;
	@include rounded_border;
}
input[type="radio"].fancyradio+span:hover {
	color: $white;
	background: $salmon;
	@include add_transition;
}
input[type="radio"].fancyradio:checked+span{
	color: $white;
	background: $salmon;
}
.fancy-dark.btn.btn-lg {
	font-size: 28px;
	color: white;
	background-color: $turquoise_dark;
	border: 1px dotted;
	border-radius: 0;
}
.fancy-dark.btn.btn-lg:hover {
	color: white;
	background-color: darken($turquoise_dark, 10%);
	-o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}
.form-fancy input,
.form-fancy textarea,
.form-fancy select {
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	font-size: 160%;
	background-color: transparent;
	border: none;
	border: 1px dotted;
	vertical-align: text-bottom;
	padding-left:10px;
	color: $grey_dark;
}
.form-fancy textarea:focus,
.form-fancy input[type="text"]:focus,
.form-fancy input[type="password"]:focus,
.form-fancy input[type="datetime"]:focus,
.form-fancy input[type="datetime-local"]:focus,
.form-fancy input[type="date"]:focus,
.form-fancy input[type="month"]:focus,
.form-fancy input[type="time"]:focus,
.form-fancy input[type="week"]:focus,
.form-fancy input[type="number"]:focus,
.form-fancy input[type="email"]:focus,
.form-fancy input[type="url"]:focus,
.form-fancy input[type="search"]:focus,
.form-fancy input[type="tel"]:focus,
.form-fancy input[type="color"]:focus,
.form-fancy .uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: none;
  outline: 0 none;
	padding-left:10px;
}

a.fb-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.tw-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.gp-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}

h2.choice {
	padding: 5px 10px;
	margin-top:0px;
	margin-bottom:10px;
	@include rounded_borders;
}
h2.choice.active {
	color: $white;
	background: $salmon;
}
h2.choice.inactive {
	color: $grey;
}
h2.choice.inactive a {
	color: $grey;
}

.slogan-text {
	color: $white;
	font-size: 400%;
	text-align: center;
}
.slogan-text.mid {
	text-shadow: 1px 1px black;
	padding-top: 160px;
}
.slogan-text.bottom {
	padding-top: 600px;
	text-shadow: 1px 1px black;
	padding-bottom: 40px;
}

.btn-start {
	background: $turquoise;
	padding: 10px;
	display: inline;
	font-size: 300%;
	width: 200px;
	@include rounded_borders;
	border: 6px solid $white;
	color: $white;
	&:hover {
		cursor: pointer;
		color: lighten($turquoise, 20%);
		border: 6px solid lighten($turquoise, 20%);
	}
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 5000;
}
#page {display: none;}
#spinner {
	background: url("spinner.gif") no-repeat center center #FFF;
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
}
.dash-background {
	min-height:600px;
	padding-right:0px;
	padding-left:0px;
	background: url("home/288412.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home-background { 
  background: url("home/288412.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 900px;
}
#home-background2 {
	padding-top:5px;
	padding-bottom:5px;
	background: black;
	opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100px;
}
#home-background3 {
	padding-top:40px;
	padding-bottom:80px;
  background-color: $blue_green;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 600px;
}
#home-background4 { 
  background: url("home/bogota_columbia.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}
.focus:before {
  content: "";
  position: fixed;
	top: -40px;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
	background: url("home/288412.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  min-height: 1200px;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.focus {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
}
.duddo {
	font-size: 1000%;
	color: #E4E3D8;
	margin: 50px;
}
.build-trip-well {
	padding-top:0px;
	box-shadow: 5px 5px 2px #888888;
	margin-top:40px;
	margin-bottom:60px;
	label {font-size: 140%;}
	hr.thick {margin-top:0px; border-top: 3px solid $turquoise_dark;}
	h1 {
		color: $salmon;
		margin: 30px 0px 0px 20px;
		font-family: 'Crafty Girls';
		padding-bottom:20px;
	}
	h3 {color: $salmon; margin-top:10px;}
	.trip-category {
		color: $grey;
		text-align: center;
		margin-top:0px;
		padding: 20px 0px;
		i { font-size: 200%; padding-bottom:5px; }
		&.active {color: $white; background: $turquoise_dark;}
	}
	.well {background: $beige;}
}
.onboarding-section { min-height: 430px; }

.slight-tilt-img {
	position: relative;
	top:71px;
	left:75px;
	-ms-transform: rotate(-5.3deg); /* IE 9 */
  -webkit-transform: rotate(-5.3deg); /* Chrome, Safari, Opera */
  transform: rotate(-5.3deg);
}
.box {
	padding: 40px 20px;
	h4 {font-size: 200%;}
	ul {margin-left:10px;}
	ul li {font-size: 150%; line-height: 150%;}
	border: 3px solid white;
	background: white;
	@include rounded_borders;
	p {
		font-size:120%;
		line-height:160%;
	}
}
.image {
  border: 2px solid $white;
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
}
.questionmark {
  height:56px;
  width:56px;
}

.opaque-background-turquoise {
  position:fixed;
  z-index:3;
  height: 60px;
  width: 100%;
  background-color:rgb(91,209,149);
  background-color:rgba(91,209,149,0.4);
}
.opaque-background-black {
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}
.world_background {
}
.signup-well {
	font-weight:200;
  background-color: $white;
//	opacity: 1; // Leave this as 1
//  background-color: rgba(0,0,0,0.6);
  padding: 8px 16px 16px 16px;
  border-left: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-right: 1px solid $grey;
	a {color: lighten($grey_dark, 25%);}
	a:hover {color: black; @include add_transition; text-decoration:none;}
   -webkit-border-bottom-left-radius: 5px;
	    -moz-border-bottom-left-radius: 5px;
	         border-bottom-left-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
	    -moz-border-bottom-right-radius: 5px;
	         border-bottom-right-radius: 5px;
}
.dashboard-well {
  background: $white;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:2em;
  color: white;
  @include rounded_borders;
}

a.btn-facebook {
  background: $fb_color;
  color: white;
  text-shadow: none;
  box-shadow: none;
  &:hover {
    background: darken($fb_color, 10%);
    color: white;
  }
}
.trip-content {
	background:white;
	min-height:300px;
	border: 1px solid $grey;
	border-top:none;
}
.tab-pane {
	padding:20px;
}
.sidebar {
	padding-top:10px;
	border-right: 3px solid $grey_light;
	outline: 1px solid $grey_dark;
	min-height:600px;
	h2 { padding-left:5px; font-size: 100%; margin:5px 0px 5px 0px; font-weight: 200; }
	hr {border-top: 1px solid $grey_dark;margin:15px 0 5px 0;}
}
.sidebar_list_item {
	padding:5px 10px;
	&:hover { background: darken($beige, 4%); cursor: pointer; }
	h3 {
		margin:0px; 
		font-size:100%;
	}
	h3 a {
		&:hover { text-decoration: none;}
	}
}
.sidebar_list_item.active {
	background: $grey;
	border: 1px solid white;
	border-right: none;
	border-left: none;
}

/* header */
.navbar, .navbar-inner {margin:0px; border-radius:0;background: white; border:none; box-shadow:none;}
.navbar {
	position:relative;
	z-index:1;
  margin:0px;
  height:49px;
  border-bottom: 1px solid black;
  background-image: none;
	border-bottom: 1px solid $grey_light;

  li a {
    text-shadow: none;
    &:hover { color: $turquoise;}
  }
}
.navbar .nav > li > a {
  b.caret { border-top-color: black !important;border-bottom-color: black !important; }
  &:hover { color: black; }
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image:none;
  background: white;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{ background-color: transparent !important; }
#logo {color: $salmon; font-size:200%; line-height:.3em; font-family: 'Crafty Girls';}
#logo:hover {text-decoration:none;}
#logo {position:relative; top:14px;}
#globe {position:relative;top:7px;}
#image-dropdown {
  position:relative; 
  right: 16px;
//  &:hover {cursor: pointer;}
}

/* footer */
.footer_background {background: url("tiles/noise_salmon.jpg");}
footer {
	position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  height:240px;
	background: url("tiles/noise_salmon.jpg");
//	opacity: 1; // Leave this as 1
//  background-color: rgba(0,0,0,0.6);
  padding-top: 30px;
  padding-bottom: 10px;
  color: $grey;
  a {color: $salmon;}
  a:hover {
    color: $salmon;
    text-decoration:underline;
  }
  small { 
    float: left; 
  }
	.title {
	  font-size: 150%;
		margin-bottom: 4px;
		font-weight: bold;
	}
}

/* shared/error_messages */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  input, textarea {color: black;}
  display: inline;
}
 
.field_with_errors .message {
  color: red;
  display: none;
  padding-left: 5px;
  font-size: 80%;
}