$linkColor: #686868;
@import "bootstrap";
//@import "bootstrap-responsive";

/* MIXINS */

@mixin rounded_borders {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}

/* Colors, Misc */

$white: #ffffff;
$black: #000000;
$salmon: #D27D66;
$turquoise: #5BD195;
$turquoise_dark: #4CAF7D;
$orange: rgb(251,185,11);
$orange2: #ffcc11;
$orange3: #ffc414;
$blue: rgb(23, 54, 93);
$grey_dark: #686868;
$grey_light: rgb(213, 215, 214);
// Others:
$green: #7CC75C;
$green_dark: #65A24B;
$grey: #DBDBDB;
$yellow: #E3D423;
$yellow_light: #eff2b9;
$header_background: white;
$link_color: $blue;
$red: #C15248;
$fb_color: #3B5998;
$tw_color: #4099FF;
$gp_color: #d34836;

// From the new Style Guide
$dark_blue: #0f294a;
$light_orange: #ffc62c;
$body_grey: #4a4a4a;

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}
.salmon { color: $salmon; a { color: $salmon; }}
.turquoise {color: $turquoise;}
.turquoise_dark {color: $turquoise_dark;}
.white {color: white;}
.green {color: $green;}
.green-dark {color: darken($green, 10%);}
.yellow {color: $yellow;}
.orange {color: lighten($orange, 10%);}
.orange-dark {color: darken($orange, 8%);}
.red {color: $red;}
.blue {color: $blue;}
.black {color: black;}
.grey {color: $grey;}
.grey-dark {color: $grey_dark;}
.fb-color {color: $fb_color;}
.tw-color {color: $tw_color;}
.gp-color {color: $gp_color;}
.red-background { background: $red; }
.green-background { background: $green_dark; }
.orange-background { background: $orange; }
.grey-background { background: $grey_dark; }
.blue-hr {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}
.grey-hr {
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
}

/* Universal */
html,body { 
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
  padding:0px;
  margin:0px;
}
body {
  color: $body_grey;
  font-family: 'Nunito', sans-serif;
}
h1, h2, h3, h4, h5, h6, p { font-family: 'Nunito', sans-serif; }
h1 { color: $dark_blue; }
h4 { line-height: 1.2em; }
.zero-height { height: 0px; }
.inline { display: inline; }
.huge { font-size: 500%; line-height: 100%; }
.large {font-size: 375%;}
.bigger {font-size: 200%;}
.big {font-size: 150%;}
.heavy {font-size: 130%;}
.smaller {font-size: 90%;line-height: 130%;}
.small {font-size: 80%;line-height: 120%;}
.tiny {font-size: 50%;line-height: 120%;}
.hr-top-bottom {margin-top:20px;margin-bottom:15px;}
.no-right-margin { margin-right: 0px; }
.no-left-margin { margin-left: 0px; }
.no-top-margin { margin-top: 0px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0; }
.small-left-margin { margin-left:10px; }
.small-margin { margin-top:3px; margin-bottom:3px; }
.right-margin { margin-right:3px; }
.top-margin { margin-top:20px; }
.top-margin-small { margin-top:10px; }
.top-margin-tiny { margin-top:5px; }
.no-top-border { border-top:none;}
.indent { margin-left: 17px;}
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.pointer { cursor: pointer; }
.no-pointer { cursor: auto; }
.no-decoration { text-decoration: none; }
.left-border { border-left: 1px solid black;}
.underline { text-decoration: underline; }
.small-padding { padding: 10px; }
.side-padding { padding: 0px 3px;}
.top-padding {padding-top:60px;}
.no-bottom-padding { padding-bottom: 0px;}
.no-padding {padding:0px;}
.well {background: white;}
.well.darken {background: lighten($grey_light, 15%);}
.shadow {box-shadow: 3px 3px 2px #888888;}
.span1minus30 { width: 30px; }
.span5plus20 {width: 400px;}
.alert {margin-bottom: 0px;}
.no-height {height: 0px;}
.hidden-input {display:none;}
.namey {display:none;}
.transparent {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

// OVERRIDES
.alert { border-radius: 0;}

.send-to-front {
	position: relative;
	z-index: 1;
}

a.tw-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}
a.gp-link {
	color: $grey;
	text-decoration: none;
	&:hover {color: darken($grey, 5%); text-decoration: none;}
}

h2.choice {
	padding: 5px 10px;
	margin-top:0px;
	margin-bottom:10px;
	@include rounded_borders;
}
h2.choice.active {
	border: 1px solid black;
	color: $white;
	background: $salmon;
}
h2.choice.inactive {
	color: $grey;
}
h2.choice.inactive a {
	color: $grey;
}

.slogan-text {
	color: $white;
	font-size: 400%;
	text-align: center;
}
.slogan-text.mid {
	text-shadow: 1px 1px black;
	padding-top: 160px;
}
.slogan-text.bottom {
	padding-top: 600px;
	text-shadow: 1px 1px black;
	padding-bottom: 40px;
}

.btn-start {
	background: $turquoise;
	padding: 10px;
	display: inline;
	font-size: 300%;
	width: 200px;
	@include rounded_borders;
	border: 6px solid $white;
	color: $white;
	&:hover {
		cursor: pointer;
		color: lighten($turquoise, 20%);
		border: 6px solid lighten($turquoise, 20%);
	}
}
#page {display: none;}
#spinner {
	background: url("spinner.gif") no-repeat scroll center center #FFF;
	position: absolute;
	z-index: 20;
	height: 100%;
	width: 100%;
}
#home-background { 
  background: url("home/vietnam1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 1000px;
}
#home-background2 { 
  background-color: $turquoise_dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 600px;
}
#home-background3 { 
  background: url("home/bogota_columbia.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 1000px;
}
.image {
  border: 3px solid $white;
  -webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
}
.questionmark {
  height:56px;
  width:56px;
}

.opaque-background-turquoise {
  position:fixed;
  z-index:3;
  height: 60px;
  width: 100%;
  background-color:rgb(91,209,149);
  background-color:rgba(91,209,149,0.4);
}
.opaque-background-black {
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}

.signup-well {
  background-color: $white;
  color: white;
  padding: 16px;
  border-left: 1px solid $black;
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
   -webkit-border-bottom-left-radius: 5px;
	    -moz-border-bottom-left-radius: 5px;
	         border-bottom-left-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
	    -moz-border-bottom-right-radius: 5px;
	         border-bottom-right-radius: 5px;
}
.dashboard-well {
  background: $white;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:2em;
  color: white;
  @include rounded_borders;
}

.btn-facebook {
  background: $fb_color;
  color: white;
  text-shadow: none;
  box-shadow: none;
  &:hover {
    background: darken($fb_color, 10%);
    color: white;
  }
}

/* header */
.navbar, .navbar-inner {margin:0px; border-radius:0;background: transparent; border:none; box-shadow:none;}
.navbar-inverse .navbar-inner {
  margin:0px;
  height:49px;
  border-bottom: 1px solid black;
  background-image: none;
  background-color: white;
  border:none;
  li a {
    text-shadow: none;
    &:hover { color: $turquoise;}
  }
}
.navbar .nav > li > a {
  b.caret { border-top-color: black !important;border-bottom-color: black !important; }
  &:hover { color: black; }
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image:none;
  background: white;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{ background-color: transparent !important; }
#logo {color: $salmon; font-size:200%; line-height:.3em; position:relative; top:7px;}
#logo:hover {text-decoration:none;}
#image-dropdown {
  position:relative; 
  right: 16px;
//  &:hover {cursor: pointer;}
}

/* footer */

footer {
  height:240px;
  background: $salmon;
  padding-top: 30px;
  padding-bottom: 10px;
  color: $grey;
  a {color: $salmon;}
  a:hover {
    color: $salmon;
    text-decoration:underline;
  }
  small { 
    float: left; 
  }
	.title {
	  font-size: 150%;
		margin-bottom: 4px;
		font-weight: bold;
	}
}

/* shared/error_messages */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  input, textarea {color: black;}
  display: inline;
}
 
.field_with_errors .message {
  color: red;
  display: none;
  padding-left: 5px;
  font-size: 80%;
}