<li>
  <a href="<%= user_profile_path(current_user) %>">
    <i class="icon-user" style="margin-right:.3em;margin-left:.1em;"></i>
    Profile
  </a>
</li>
<% if admin_user? %>
  <li>
    <a href="<%= new_trip_path %>">
      <i class="icon-plane" style="margin-right:.3em;"></i>
      New Trip
    </a>
  </li>
  <li>
    <a href="<%= users_path %>">
      <i class="fa fa-users" style="margin-right:.3em;"></i>
      Users
    </a>
  </li>
  <li>
    <a>
      Admin Panel
    </a>
  </li>
<% end %>
<li>
  <a data-method="delete" href="<%= logout_path %>" rel="nofollow">
    <i class="icon-signout" method="delete" style="margin-right:.3em;"></i>
    Logout
  </a>
</li>