<li>
  <a href="<%= user_path(current_user) %>">
    <i class="fa fa-user" style="margin-right:.3em;"></i>
   	My Profile
  </a>
</li>
<li>
  <a data-method="delete" href="<%= logout_path %>" rel="nofollow">
    <i class="fa fa-sign-out" method="delete" style="margin-right:.3em;"></i>
    Log Out
  </a>
</li>