%header
  .navbar.navbar-inverse.navbar-top
    .navbar-inner
      .container
        %button.btn.btn-navbar.background-grey{"data-target" => "#head-nav", "data-toggle" => "collapse", :type => "button", style: "background:grey;margin-top:10px;"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .pull-left
          .div{style: "padding-top:10px; padding-right:20px;"}
            = link_to image_tag("globe-icon-planes-30.png"), root_url, style: "margin-left:5px;", id: "globe"
            = link_to "TripSharing<span class='blue tiny'>beta</span>".html_safe, root_url, id: "logo"
        .nav-collapse#head-nav
          / %ul.nav.pull-left
          /   %li= link_to "Projects", ""
          /   %li= link_to "Campaigns", ""
          %ul.nav.pull-right
            - if current_user
              %ul.nav.pull-right.visible-desktop
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    - if current_user.fb_image
                      = image_tag current_user.fb_image, size: "30x30", id: "image-dropdown"
                    - else
                      = image_tag "blank_avatar.jpg", size: "30x30", id: "image-dropdown"
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => trips_path}
                        %i.icon-search{ style: "margin-right:.2em;"}
                        Browse Trips
                    - if current_user.admin?
                      %li
                        %a{href: new_trip_path}
                          %i.icon-plane{ style: "margin-right:.3em;"}
                          New Trip
                      %li
                        %a{href: ""}
                          Admin Panel
                    %li
                      %a{"data-method" => "delete", :href => logout_path, :rel => "nofollow"}
                        %i.icon-signout{:method => "delete", style: "margin-right:.2em; margin-left:.1em;"}
                        Logout
          %ul.nav.pull-right.hidden-desktop
            %li
              %a{:href => trips_path}
                %i.icon-search{ style: "margin-right:.2em;"}
                Browse Trips
            - if admin_user?
              %li
                %a{href: new_trip_path}
                  %i.icon-plane{ style: "margin-right:.3em;"}
                  New Trip
              %li
                %a{href: ""}
                  Admin Panel
            %li
              %a{"data-method" => "delete", :href => logout_path, :rel => "nofollow"}
                %i.icon-signout{:method => "delete", style: "margin-right:.3em;"}
                Logout
