<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "blank_avatar.jpg", size: "60x60" %>
			</div>
			<div class="col-sm-6">
				<%= current_user.full_name %>
				<%= current_user.fb_location %>
			</div>
		</div>
		<!-- begin sidebar nav -->
		<ul class="nav" style="margin:0px;padding:0px;">
			<li class="nav-header">Navigation</li>
			<% @trips.each do |trip| %>
        <li style="background:white; border:1px solid black;">
          <%= link_to trip.name, trip %>
        </li>
			<% end %>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->