<!-- begin #sidebar -->
<div class="sidebar">
	<div class="row">
		<div class="col-md-12">
			<h2>SEARCH:</h2>
		</div>
	</div>
	<div class="row" style="padding-left:20px;margin-top:10px;">
		<div class="col-md-12">
			Show trips departing from: <br>
			<select id="radius" name="radius" style="margin-bottom:5px;">
        <option value="1" selected>within 5 miles of</option>
        <option value="2">within 10 miles of</option>
        <option value="3">within 25 miles of</option>
        <option value="4">within 50 miles of</option>
        <option value="5">within 100 miles of</option>
      </select>
			<br>
			<span class="turquoise_dark"><i class="fa fa-map-marker"></i> <%= current_user.fb_location %></span>
			<small><%= link_to "change", current_user %></small>
			<br>
			<button type="submit" class="btn btn-default btn-sm" style="padding:2px 8px;margin-top:6px;margin-bottom:10px;"> search </button>
		</div>
	</div>
	<hr>
	<div class="row" style="margin-bottom:5px;margin-top:10px;">
		<div class="col-md-12">
			<h2 style="position:relative; top:6px;">MY TRIPS:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% unless @my_trips.any? %>
				<em style="margin-left:10px;">none</em>
			<% end %>
			<ul class="list-unstyled">
				<% @my_trips.each do |trip| %>
					<%= render "trips/sidebar_list_item", trip: trip %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>WATCHING:</h2>
			<em style="margin-left:10px;">none</em>
		</div>
	</div>
</div>
