<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>TripSharing</title>
		<style type="text/css">
			body {
				color: #153643; 
				font-family: Arial, sans-serif; 
				font-size: 16px; 
				line-height: 20px;
			}
			#footer {
				color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;
			}
			#footer a {color: #ffffff}
		</style>
	</head>
	<body>
		<table border="0" ceddpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td align="center" bgcolor="#ffffff" style="padding: 20px 0 10px 0;">
								<img src="assets/trip-sharing-logo-white.png" alt="TripSharing Logo" width="300" height="71" style="display: block;" />
							</td>
						</tr>
						<tr>
							<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
								<%= yield %>
							</td>
						</tr>
						<tr>
							<td bgcolor="#D27D66" style="padding: 30px 30px 30px 30px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td id="footer" width="75%">
											
											 <%= t('application.root.slogan') %>
											<!--
											 <a href="#">Unsubscribe</a> to this newsletter instantly
											-->
										</td>
										<td align="right" width="25%">
											<table border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td>
														<a href="https://twitter.com/Trip_Sharing">
															<img src="assets/social_icons/twitter_circle_color-38.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
													<td style="font-size: 0; line-height: 0;" width="2">&nbsp;</td>
													<td>
														<a href="https://www.facebook.com/trip.sharing.1">
															<img src="assets/social_icons/facebook_circle_color-38.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>